[user]
	email = juanignaciosl@gmail.com
	name = Juan Ignacio Sánchez Lara
[core]
	editor = vim
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
