[user]
	email = juanignaciosl@gmail.com
	name = Juan Ignacio Sánchez Lara
[core]
	excludesfile = /home/juanignaciosl/.gitignore
	pager = /usr/share/git/diff-highlight/diff-highlight | less
        editor = vim
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[color]
	ui = always
[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22
